{% extends 'base.html' %}

{% block body %}
    <div class="container">
    <table class="table table-hover mt-4  ml-auto mr-auto">
    <thead>

        <tr>
            <th >영화제목</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>작성시간</th>
            <th>좋아요</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ review.movie.title }}</td>
            <td><a href="{% url 'articles:review_detail' review.pk %}">{{ review.title }}</a></td>
            <td><a href="{% url 'accounts:info' review.user.username %}" >{{ review.user }}</a></td>
            <td>{{ review.created_at }}</td>
        {% with reivew_like_users=review_like_users.all %}
            {% if request.user in review.like_users.all %}
                <td><a href="{% url 'articles:like' review.pk %}"><span style="color:red"><i class="fas fa-heart"></i></a> {{ review.like_users.count }}</td>
            {% else %}
                <td><a href="{% url 'articles:like' review.pk %}"><span style="color:black"><i class="fas fa-heart"></i></a> {{ review.like_users.count }}</td>
            {% endif %}
        {% endwith %}
        </tr>
        {% endfor %}


    </tbody>
</table>
</div>
{% endblock %}